My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -112
      ],
      "id": "0d56207b-0d35-48f6-b822-59e27b1e1d16",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "cfZvM8jOfS294XJs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Sponsorship",
              "description": "A sponsorship email is a concise, professional message proposing a partnership to potential sponsors, highlighting benefits like branding or exposure, and requesting financial or in-kind support for an event or project."
            },
            {
              "category": "High Priority",
              "description": "Hight Priority email often includes words like urgent, deadline, schedual, interview, short listed or similar words."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        224,
        -112
      ],
      "id": "cb1782d8-56e0-496b-8c47-04ba0f3af747",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        296,
        112
      ],
      "id": "5619a86b-d0d2-4eb6-8709-807c1a7e4e61",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "0n5WIeJ84YxcGYMS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant of a Youtuber named Danish\nyour job is to respond to the email below:\n\nFirst, Acknowledge and thank the recipient for reaching out about sponsorship.\n\nConfirm that the base sponsorship cost is $3000.\n\nWrite in a polite, professional, and confident tone.\n\nClearly state what the $3000 package includes (leave placeholders if I need to fill them in later, e.g., \"logo placement, social media mentions, and event passes\").\n\nOffer to discuss custom packages if they want something more tailored.\n\nKeep the response short (150 words max), easy to read, and businesslike.\n\nEnd with a call to action (e.g., asking if they’d like to move forward or schedule a call).\n\nThe email to respond to is: {{ $json.text }}",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        576,
        -208
      ],
      "id": "85c6940b-164b-4579-836c-05c3a6b404b1",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "0n5WIeJ84YxcGYMS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content.response.subject }}",
        "message": "={{ $json.message.content.response.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        -208
      ],
      "id": "6e53f494-ee57-482e-88b6-53defdf7db75",
      "name": "Create a draft",
      "webhookId": "a66dff1e-727c-478c-aacb-9d2469dfb4b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "cfZvM8jOfS294XJs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant and your job is to respond to the following high-priority email as good as you can:  {{ $json.text }}",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        576,
        -16
      ],
      "id": "01f8fae6-7095-453c-a168-a06ac86214bc",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "0n5WIeJ84YxcGYMS",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content.response.subject }}",
        "message": "={{ $json.message.content.response.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        -16
      ],
      "id": "38a562f4-e1fe-42aa-9057-08fcd660f0a3",
      "name": "Create a draft1",
      "webhookId": "3e64d6b2-4b6b-4c8a-be02-9359e7d493a7",
      "credentials": {
        "gmailOAuth2": {
          "id": "cfZvM8jOfS294XJs",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8dc099c3-7717-4d8d-936f-a5b47fefeb59",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1ae011cf398f1fcca4e9bad58eed8429f34188379ccd5da6e120e2ce7c0dad9b"
  },
  "id": "Y4D1B1oWttvazi7l",
  "tags": []
}